/*
  Специально для тёмной темы при наличии класса,
  здесь оказываются только те переменные,
  которые нужно переопределить принудительно
  при переключении темы.
*/

:root.theme-dark {
    --bg-color: #000028;
    --page-bg-image: url("../images/cover-image-dark.png");
    --text-color: #f1b2ce;
    --title-color: #fff1f7;
    --accent-color: #ff0070;
    --accent-soft-color: #ff8dcb;
    --menu-color: #ff0070;
    --menu-border-color-hover: rgba(255, 0, 112, 0.4);
    --corner-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
    :root.theme-auto {
        --bg-color: #000028;
        --page-bg-image: url("../images/cover-image-dark.png");
        --text-color: #f1b2ce;
        --title-color: #fff1f7;
        --accent-color: #ff0070;
        --accent-soft-color: #ff8dcb;
        --menu-color: #ff0070;
        --menu-border-color-hover: rgba(255, 0, 112, 0.4);
        --corner-color: #ff0070;
    }
}
