:root.theme-dark {
    --page-bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --primary-title-color: #DB00FF;
    --secondary-title-color: #ff0070;
    --accent-color: #FF0070;
    --menu-color: #FF0070;
    --menu-border-color-hover: #FF007066;
    --corner-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000028;
        --page-bg-image: url("../images/cover-image-dark.png");
        --text-color: #F1B2CE;
        --primary-title-color: #DB00FF;
        --secondary-title-color: #ff0070;
        --accent-color: #FF0070;
        --menu-color: #FF0070;
        --menu-border-color-hover: #FF007066;
        --corner-color: #FF0070;
    }
}
