*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--bg-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:vertical {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 10px;
    border: 2px solid var(--bg-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--menu-color);
}
