:root.theme-light {
    --page-bg-image: url("../images/cover-image-light.png");
    --bg-color: #353430;
    --text-color: #353430;
    --primary-title-color: #ffc2e6;
    --secondary-title-color: #353430;
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --menu-border-color-hover: #35343066;
    --corner-color: #353430;
}


:root.theme-light .rec {
    display: none;
}


@media (prefers-color-scheme: light) {
    :root{
        --bg-color: #353430;
        --page-bg-image: url("../images/cover-image-light.png");
        --text-color: #353430;
        --primary-title-color: #ffc2e6;
        --secondary-title-color: #353430;
        --accent-color: #ff8dcb;
        --menu-color: #353430;
        --menu-border-color-hover: #35343066;
        --corner-color: #353430;
    }

    :root .rec {
        display: none;
    }
}
