/*
  Специально для светлой темы.
  Здесь переопределяем только те переменные,
  которые отличаются от тёмной темы.
*/

:root.theme-light {
    --bg-color: #353430;
    --page-bg-image: url("../images/cover-image-light.png");
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --menu-border-color-hover: rgba(53, 52, 48, 0.4);
    --corner-color: #353430;
}


:root.theme-light .rec {
    display: none;
}


@media (prefers-color-scheme: light) {
    :root.theme-auto {
        --bg-color: #353430;
        --page-bg-image: url("../images/cover-image-light.png");
        --text-color: #353430;
        --title-color: #ffc2e6;
        --accent-color: #ff8dcb;
        --menu-color: #353430;
        --menu-border-color-hover: rgba(53, 52, 48, 0.4);
        --corner-color: #353430;
    }

    :root.theme-auto .rec {
        display: none;
    }
}
