.page {
    min-block-size: 100vh;
    margin: 0;
    color: var(--text-color);
    font-family: var(--font-main), monospace;
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);

    background-color: var(--bg-color);
    background-image: var(--page-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    padding-inline: var(--page-padding-inline);
    padding-block: var(--page-padding-block);
}

h2 {
    word-spacing: var(--word-spacing-main);
}

.header {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;

}


.header__theme-menu {
    justify-self: end;
    margin-block-start: 75px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    inline-size: 70px;
    padding-block: 4px;
    border: 1px solid transparent;
    background: none;
    text-transform: lowercase;
    cursor: pointer;

    color: var(--menu-color);
}

.header__theme-menu-button_active {
    border-color: currentColor;
    pointer-events: none;
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end: 1px solid currentColor;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
    border-color: var(--menu-border-color-hover);
}

.header__title {
    margin: 0;
    margin-block-start: 65px;
    color: var(--title-color);
    font-weight: 700;
    text-transform: lowercase;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.83;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
    font-weight: bold;
    word-spacing: var(--word-spacing-main);
    margin-block-start: 55px;
    margin-block-end: 55px;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::before {
    inset-block-start: 0;
    inset-inline-end: 0;
    border-block-start: 1px solid var(--corner-color);
    border-inline-end: 1px solid var(--corner-color);
}

.decorated-zone::after {
    inset-block-end: 0;
    inset-inline-start: 0;
    border-block-end: 1px solid var(--corner-color);
    border-inline-start: 1px solid var(--corner-color);
}


.rec {
    justify-self: end;
    font-size: 18px;
    text-transform: uppercase;
}

.rec::after {
    content: "";
    display: inline-block;
    inline-size: 9px;
    block-size: 9px;
    margin-inline-start: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px var(--accent-color);
}


.main {
    margin-block-start: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section {
    display: grid;
    gap: 20px;
}

.section__title {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
}

.section__title-note {
    display: block;
    font-weight: 400;
}

.section__content {
    display: grid;
    gap: 20px;
}

.section-gallery {
    gap: 10px
}

.content-card {
    display: grid;
    gap: 10px;
}

.content-card__title {
    font-weight: 700;
}

.content-card__title_accent {
    font-weight: 400;
}


.title-decor {
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding-inline: 0;
    padding-block: 0;
}


.content-card__text {
    margin: 0;
}

.section-intro__content {
    grid-auto-rows: minmax(min-content, max-content);
}

.section-reasons__content {
    grid-auto-rows: minmax(min-content, max-content);
}

.section-tips__content {
    grid-auto-rows: minmax(min-content, max-content);
}

.section-gallery__grid {
    display: grid;
    gap: 10px;
}

.gallery__item {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    display: block;
}

.footer {
    margin-block-start: 50px;
    position: relative;
    min-height: 668px;
    display: grid;
    place-items: center;
    padding-block: 20px;
}

.footer__title {
    font-size: clamp(7.25rem, 2.3rem + 2vw, 4.5rem);
    font-weight: 700;
    color: var(--title-color);
    text-shadow: 2px 2px 0 var(--accent-color);
}

/* ---------- АДАПТИВ ---------- */

@media (min-width: 768px) {
    .page {
        padding-inline: 20px;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__title {
        /* формула для ПЛАНШЕТА и ДЕСКТОПА */
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        margin-block-start: 0; /* на больших экранах заголовок чуть выше */
    }

    .main {
        margin-block-start: 60px;
        gap: 60px;
    }

    .section {
        grid-template-columns: minmax(0, 236px) minmax(0, 1fr);
    }

    .section__title {
        max-inline-size: 240px;
    }

    .section__content {
        grid-column: 2 / -1;
    }

    .section-reasons__content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .section-tips__content {
        grid-template-columns: 1fr;
    }

    .section-gallery__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    /* на планшете последняя картинка галереи во всю ширину */
    .section-gallery__grid .gallery__item:last-child {
        grid-column: 1 / -1;
    }
}

@media (min-width: 1024px) {
    .page {
        padding-inline: 40px;
    }

    .header {
        grid-template-rows: auto 1fr auto;
    }

    .main {
        margin-block-start: 80px;
        gap: 80px;
    }

    .section {
        column-gap: 20px;
    }

    .section-intro__content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .section-reasons__content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .section-tips__content {
        grid-template-columns: 1fr;
    }

    .section-gallery__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    /* сетка галереи под макет 1024 */

    .section-gallery__grid .gallery__item:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .section-gallery__grid .gallery__item:nth-child(2) {
        grid-column: 3;
        grid-row: 1 / span 2;
    }

    .section-gallery__grid .gallery__item:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }

    .section-gallery__grid .gallery__item:nth-child(4) {
        grid-column: 1;
        grid-row: 2 / span 2;
    }

    .section-gallery__grid .gallery__item:nth-child(5) {
        grid-column: 2 / span 2;
        grid-row: 3;
    }
}
