.page {
    min-block-size: 100vh;
    margin: 0;
    color: var(--text-color);
    font-family: var(--font-main), monospace;
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);

    background-color: var(--bg-color);
    background-image: var(--page-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    padding-inline: var(--page-padding-inline);
    padding-block: var(--page-padding-block);
}

.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 65px auto 55px auto;
    align-content: start;
    min-height: 668px;
}



.header__theme-menu {
    grid-row: 2;
    justify-self: end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    inline-size: 70px;
    padding: 0;
    border: 1px solid transparent;
    background: none;
    text-transform: lowercase;
    cursor: pointer;

    color: var(--menu-color);
}

.header__theme-menu-button_active {
    border-color: currentColor;
    pointer-events: none;
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end: 1px solid currentColor;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
    border-color: var(--menu-border-color-hover);
}

.header__title {
    margin: 0;
    grid-row: 4;
    color: var(--title-color);
    font-weight: 700;
    text-transform: lowercase;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.83;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
    font-weight: bold;
    grid-row: 6;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::before {
    inset-block-start: 0;
    inset-inline-end: 0;
    border-block-start: 1px solid var(--corner-color);
    border-inline-end: 1px solid var(--corner-color);
}

.decorated-zone::after {
    inset-block-end: 0;
    inset-inline-start: 0;
    border-block-end: 1px solid var(--corner-color);
    border-inline-start: 1px solid var(--corner-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    border-bottom: 1px solid transparent;
}


a:hover {
    text-decoration: none;
    border-bottom-color: currentColor;
}

a:focus-visible {
    outline: 1px solid var(--text-color);
    text-shadow:
            2px 2px 0 var(--accent-color),
            0 0 4px var(--accent-color);
}

.rec {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--menu-color);
    padding-right: 9px;
}

.rec::after {
    content: "";
    display: inline-block;
    inline-size: 9px;
    block-size: 9px;
    margin-inline-start: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
}


.main {
    margin-block-start: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section {
    display: grid;
    gap: 20px;
}

.section__title {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 18px;
}

.section__title-note {
    display: block;
    font-weight: 400;
}

.section__content {
    display: grid;
    gap: 20px;
}

.section-gallery {
    gap: 10px
}

.content-card {
    display: grid;
    gap: 10px;
}

.content-card__title {
    font-weight: 700;
}

.content-card__title_accent {
    font-weight: 400;
}


.title-decor {
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding-inline: 0;
    padding-block: 0;
}


.content-card__text {
    margin: 0;
}

.section-tips__card .content-card__title:first-child {
    margin-block-end: 10px;
}

.section-intro__content {
    grid-auto-rows: minmax(min-content, max-content);
}

.section-reasons__content {
    grid-auto-rows: minmax(min-content, max-content);
}

.section-tips__content {
    grid-auto-rows: minmax(min-content, max-content);
}

.section-gallery__grid {
    display: grid;
    gap: 10px;
}

.gallery__item {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    display: block;
}

.footer {
    margin-block-start: 50px;
    position: relative;
    min-height: 668px;
    display: grid;
    place-items: center;
    padding-block: 20px;
}

.footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    color: var(--title-color);
    text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {

    .page {
        padding-inline: 20px;
        padding-block: 20px;
    }

    .header {
        min-height: 1024px;
        grid-template-rows: 192px auto 173px auto 162px auto;
    }

    .header__theme-menu {
        grid-row: 2;
        justify-self: end;
        align-self: start;
    }

    .header__title {
        grid-row: 4;
        text-indent: -20px;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__description {
        grid-row: 6;
        max-inline-size: 364px;
        justify-self: end;
    }

    .main {
        margin-block-start: 80px;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .section {
        display: grid;
        grid-template-columns: minmax(230px, 1fr) minmax(0, 2fr);
        column-gap: 20px;
        align-items: start;
    }

    .section__content {
        align-self: start;
    }

    .section.section-reasons {
        grid-template-columns: 1fr;
    }

    .section.section-reasons .section__title {
        max-inline-size: 230px;
    }

    .section.section-gallery {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .section-gallery__grid {
        display: grid;
        grid-template-columns: minmax(229px, 1fr) minmax(230px, 1fr) minmax(229px, 1fr);
        gap: 20px;
    }

    .gallery__item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .gallery__item:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .gallery__item:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .gallery__item:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .gallery__item:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
    .footer {
        min-height: 1024px;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (min-width: 1024px) {

    .page {
        padding-inline: 20px;
        padding-block: 20px;
    }

    .header {
        min-height: 768px;
        grid-template-rows: 20px auto 273px auto 114px auto;
    }

    .header__theme-menu {
        grid-row: 1;
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row;
        gap: 10px;
    }

    .header__title {
        grid-row: 4;
        text-indent: -20px;
    }

    .header__description {
        grid-row: 6;
        justify-self: end;
        max-inline-size: 491px;
    }

    .section.section-reasons {
        grid-template-columns: 1fr;
    }

    .section.section-reasons .section__title {
        max-inline-size: none;
    }

    .section-reasons__content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 20px;
    }

    .content-card__title.title-decor {
        height: 23px;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .section-gallery__grid {
        grid-template-columns: minmax(315px, 1fr) minmax(315px, 1fr) minmax(314px, 1fr);
        gap: 20px;
    }

}
