:root {
    --bg-color: #000028;
    --accent-color: #ff0070;
    --text-color: #f1b2ce;
    --primary-title-color: #DB00FF;
    --secondary-title-color: #ff0070;
    --menu-color: #ff0070;
    --menu-border-color-hover: #ff007066;
    --corner-color: #ff0070;

    --font-main: "IBM Plex Mono", monospace;
    --font-size-main: 18px;
    --line-height-main: 23.4px;

    --page-padding-inline: 10px;
    --page-padding-block: 10px;
    --content-max-width: 1024px;

    --page-bg-image: url("../images/cover-image-dark.png");
}